Loading...
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='markers'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='wall_shadows'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='shadow_map'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='object_shadows'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='player'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='enemies'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='viewfield'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='darkness'></canvas>
<canvas height='<%= @canvassize %>' width='<%= @canvassize %>' id='shadow_overlay'></canvas>
<div class="user-interface">
	<span class="level-moves-user"></span> (<span class="level-moves-highscore"></span>)
</div>
<div class="notice"><%= raw(@start_note) %></div>
<div class="bubble"></div>
<div class="ajax-loader"><img src="/assets/ajax-loader.gif" alt="loading..." /><br />Loading...</div>