<!DOCTYPE html>
<html>
<head>
  <title>Hinder</title>
  	<%= stylesheet_link_tag    "hindergame" %>
	<%= stylesheet_link_tag    "hindergame.ipad" unless @using_ipad.blank?  %>

	<%= javascript_include_tag "application" %>
	<!--
	<%= javascript_include_tag "excanvas.compiled" %>
	
	-->
	<%= javascript_include_tag "jquery.touchwipe.1.1.1" unless @using_ipad.blank? %>
  	<%= javascript_include_tag "game_base" %>
	<%= javascript_include_tag "render" %>
	<%= javascript_include_tag "resource" %>
	<%= javascript_include_tag "storage" %>

	<% unless  @using_ipad.blank? %>
		<meta content='width=768, initial-scale=1, user-scalable=no' name='viewport' />
  		<meta name="apple-mobile-web-app-capable" content="yes" />
  		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<% end %>

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29142841-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<%= yield %>

</body>
</html>
