<!DOCTYPE html>
<html>
<head>
  <meta property="og:image" content="assets/hindergame.png"/>
  <title>Hinder iphone</title>
  <%= stylesheet_link_tag    "hindergame-iphone" %>	
  
  <%= javascript_include_tag "application" %>
  <!--
  <%= javascript_include_tag "excanvas.compiled" %>
  -->
  <%= javascript_include_tag "jquery.touchwipe.1.1.1" %>
  <%= javascript_include_tag "game_base" %>
  <%= javascript_include_tag "render" %>
  <%= javascript_include_tag "resource" %>
  <%= javascript_include_tag "storage" %>

  <!-- <%= csrf_meta_tags %> -->
  <!-- /%meta{:name=>"viewport",:content=>"width=600, initial-scale=1, user-scalable=no"} -->
  <meta content='width=610, initial-scale=0.5, user-scalable=no' name='viewport' />

  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <!-- This meta tag ensures that the toolbar at the bottom of the browser 
    is hidden when this page is accessed frome the Home Screen. -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29142841-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<%= yield %>
</body>
</html>